<main>
    <h2>gAyTL Nightlife</h2>

    {{#each nights}}

    <div class="show-container">
        <img width="200px" height="200px" src= {{img}}>
        <a href="Night/{{_id}}"><h3>See More</h3></a>
        <p>{{name}} </p>
    </div>

    {{/each}}

    <a href="Night/new"><h2>Add More</h2></a>
</main>