<main>
    <section class="secondary-main">
        <h2 class="secondary-title"> Nightlife</h2>


<div id="handlebars-sandbox"></div>
    
       {{#each nights}}
    <div class="show-container">
            <a href="Night/{{_id}}" class="individual-item">
                <img width="200px" height="200px" src={{img}} class="individual-img">
                    <p class="individual-name">{{name}}</p>
            </a>
     </div>
         {{/each}}
   
    
    </section>
    
    <a href="Night/new">
        <h2>Add More</h2>
    </a>
</main>