<header class="masthead" style="background-image:url('assets/img/head.jpg');">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <p>Welcome To The</p>
                        <h1>Gay Capital</h1>
                        <p>Of the South</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">About gAyTL</h2>
                        <h3 class="post-subtitle">Atlanta has one of the largest LGBTQ populations in the south. With that comes a large and accepting community. gAyTL provides a directory of LGBTQ friendly establishments throught the city.&nbsp;</h3>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>
