<main class="add-new-page"> 

<a href="/rest">Return to Previous Page</a>
	
	<h2>Add a restaurant!</h2>

	

	<div id="edit-form" class="nightlife-container-add">

		<form action="/rest" method="POST">
			Name: <input type="text" name="name"/><br/>
			<br />
			Description: <input type="text" name="description"/><br/>
			<br />
			Image: <input type="text" name="img"/><br/>
			<br />
			Location: <input type="text" name="location"/><br/>
			<br />
			
			<input class="btn btn-sucess" type="submit" value="Add"/>
		</form>

	</div>
</main>