<main>

	<h2>Add a health center!</h2>

	<a href="/">Return to Home Page</a>

	<div id="edit-form" class="health-container-add">

		<form action="/health" method="POST">
			Name: <input type="text" name="name"/><br/>
			Description: <input type="text" name="description"/><br/>
			Image: <input type="text" name="img"/><br/>
			Location: <input type="text" name="location"/><br/>
			
			<input type="submit" value="Add"/>
		</form>

	</div>
</main>