<main class="add-new-page">

<a href="/health">Return to Previous Page</a>
	
	<h2>Add a health center!</h2>

	

	<div id="edit-form" class="nightlife-container-add">

		<form action="/health" method="POST">
			Name: <input type="text" name="name"/><br/>
			Description: <input type="text" name="description"/><br/>
			Image: <input type="text" name="img"/><br/>
			Location: <input type="text" name="location"/><br/>
			
			<input class="btn btn-sucess" type="submit" value="Add"/>
		</form>

	</div>
</main>