<ul>
    {{#each shops}}
        <li>{{ shop }}</li>
    {{/each}}
</ul>

<form action="/shops?_method=PUT" method="POST">
  <input type="text" name="description" placeholder="Enter todo description">
  <input type="submit" value="Sign Up" class="btn">
</form>

<form action="/shops?_method=DELETE" method="POST">
  <input type="text" name="description" placeholder="Enter todo description">
  <input type="submit" value="Sign Up" class="btn">
</form>